[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/shuai132/imgui.git
[submodule "modules/SmartSerial"]
	path = modules/SmartSerial
	url = https://github.com/shuai132/SmartSerial
[submodule "modules/log"]
	path = modules/log
	url = https://github.com/shuai132/LOG.git
[submodule "modules/PacketProcessor"]
	path = modules/PacketProcessor
	url = https://github.com/shuai132/PacketProcessor
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
