name: Ubuntu

on: [push, pull_request]

jobs:
  Linux:
    runs-on: ubuntu-latest
    env:
      targetName: ScopeGUI

    steps:
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libsdl2-dev

      - uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Submodules
        run: git submodule update --init --recursive

      - name: CMake Build
        run: |
          mkdir build && cd build
          cmake -DCMAKE_BUILD_TYPE=Release ..
          make ${{ env.targetName }} -j2
          zip -r ${{ env.targetName }}.zip ${{ env.targetName }}

      - name: Archive production artifacts
        uses: actions/upload-artifact@v1
        with:
          name: ${{ env.targetName }}_${{ runner.os }}_${{ github.sha }}
          path: build

      - name: Make Release
        if: startsWith(github.event.ref, 'refs/tags/')
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/${{ env.targetName }}.zip
          asset_name: ${{ env.targetName }}_${{ runner.os }}.zip
          tag: ${{ github.ref }}
          overwrite: true
